.search-tab {
  right: 0px;
  transition: right .25s ease;
  max-width: 500px;
}

.search-tab[data-entering],
.search-tab[data-exiting] {
  right: max(-500px, -100%);
}

.icon-stack {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.icon-swap {
  grid-area: 1 / 1;
  transition-property: filter, opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
  filter: blur(2px);
  transform: scale(0.4);
  pointer-events: none;
}

.icon-swap[data-active="true"] {
  opacity: 1;
  filter: blur(0);
  transform: scale(1) rotate(0deg);
}